<%= form_with model: prototypes, local: true do |f|%>
<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false">
    <h2>
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
       %>
    </h2>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <div class="field">
    <%= f.label :hoge, "プロトタイプの名称" %><br />
    <%= f.text_field :hoge, id:"prototype_title" %>
  </div>

  <div class="field">
    <%= f.label :hoge, "キャッチコピー" %><br />
    <%= f.text_area :hoge, class: :form__text, id:"prototype_catch_copy" %>
  </div>

  <div class="field">
    <%= f.label :hoge, "コンセプト" %><br />
    <%= f.text_area :hoge, class: :form__text, id:"prototype_concept" %>
  </div>

  <div class="field">
    <%= f.label :hoge, "プロトタイプの画像" %><br />
    <%= f.file_field :hoge, id:"prototype_image" %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>

  <% if prototype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(prototype.errors.count, "error") %> prohibited this prototype from being saved:</h2>
      <ul>
        <% prototype.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%%>