<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">
      <p class="prototype__hedding">
        <h1><%= "プロトタイプのタイトル"%></h1>
      </p>
      <%= link_to "by プロトタイプの投稿者", root_path, class: :prototype__user %>
      <%# プロトタイプの投稿者とログインしているユーザーが同じであれば以下を表示する %>
        <div class="prototype__manage">
          <%= link_to "編集する", root_path, class: :prototype__btn %>
          <%= link_to "削除する", root_path, class: :prototype__btn %>
        </div>
      <%# // プロトタイプの投稿者とログインしているユーザーが同じであれば上記を表示する %>
      <div class="prototype__image">
        <%= image_tag "プロトタイプの画像" %>
      </div>
      <div class="prototype__body">
        <div class="prototype__detail">
          <p class="detail__title">キャッチコピー</p>
          <p class="detail__message">
            <%= "プロトタイプのキャッチコピー" %>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">コンセプト</p>
          <p class="detail__message">
            <%= "プロトタイプのコンセプト" %>
          </p>
        </div>
      </div>
      <div class="prototype__comments">
      <div class="card">
    <%= link_to image_tag("プロトタイプの画像", class: :card__img ), root_path%>
      <div class="card__body">
      <%= link_to "プロトタイプのタイトル", root_path, class: :card__title%>
      <p class="card__summary">
        <%= "プロトタイプのキャッチコピー" %>
      </p>
      <%= link_to "by プロトタイプの投稿者名", root_path, class: :card__user %>
    </div>
  </div>
  <%# ログインしているユーザーには以下のコメント投稿フォームを表示する %>
  <%= form_with model: モデル名,local: true do |f|%>
    <div class="field">
      <%= f.label :hoge, "コメント" %><br />
      <%= f.text_field :hoge, id:"comment_content" %>
    </div>
    <div class="actions">
      <%= f.submit "送信する", class: :form__btn  %>
    </div>
     <% end %>
     <% ログインしているユーザーには上記を表示する %>
      <ul class="comments_lists">
         <% 投稿に紐づくコメントを一覧する処理を記述する %>
        <li class="comments_list">
          <%= " コメントのテキスト "%>
          <%= link_to "（ ユーザー名 ）", root_path, class: :comment_user %>
        </li>
        <%# // 投稿に紐づくコメントを一覧する処理を記述する %>
      </ul>
    </div>
  </div>
</main>

<h1><%= @prototype.title %></h1>
<p><%= @prototype.catch_copy %></p>
<p><%= @prototype.concept %></p>
<% if @prototype.image.attached? %>
  <%= image_tag @prototype.image %>
<% end %>

<% if user_signed_in? && current_user == @prototype.user %>
  <%= link_to 'Edit', edit_prototype_path(@prototype) %>
  <%= link_to 'Delete', @prototype, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<%= link_to 'Back', prototypes_path %>

<%= link_to 'Delete', @prototype, method: :delete, data: { confirm: 'Are you sure you want to delete this prototype?' } %>